<br>
<br>
<div class="row">

  <div class="large-centered small-centered columns">
    <div class="panel text-center">
      <h3>New Message</h3>
    </div>
<%= simple_form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <div class="field">
          <%= f.association :category %>
        </div>

        <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit :class => "button success radius"%>
  </div>
<% end %>
  </div>
</div>