<br>
<br>
<div class="row">
  <div class="large-centered small-centered columns">
    <div class="panel text-center">
      <h3>Message Categories</h3>
    </div>

    <table style="width:100%" id="messages_table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Delete?</th>
      </tr>
      </thead>

      <tbody>
      <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td>
              <% if Message.where(:category_id => category.id).count == 0 %>
                <%= link_to 'Destroy', destroy_category_messages_path(:id => category.id) , method: :delete, data: {confirm: 'Are you sure?'} %>
              <% else %>
                <%= "In use. Can't delete" %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
  <br>
  <hr>

  <div class="large-centered small-centered columns">
    <div class="panel text-center">
      <h3>New Message Category</h3>
    </div>
    <%= simple_form_for(@category , :method => :post , :url => create_category_messages_path) do |f| %>
        <% if @category.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@category.errors.count, "error") %> prohibited this message from being saved:</h2>

              <ul>
                <% @category.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label "Name" %>
          <br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label "Description" %>
          <br>
          <%= f.text_field :description %>
        </div>
        <div class="actions">
          <%= f.submit :class => "button success radius" %>
        </div>
    <% end %>
  </div>
</div>