<%= simple_form_for(@user) do |f| %>
    <div class="row">

      <div class="large-6 large-centered small-9 small-centered columns">
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :name %>
          <br>
          <%= f.text_field :name , :class => "radius" %>
        </div>
        <div class="field">
          <%= f.label :surname %>
          <br>
          <%= f.text_field :surname , :class => "radius"%>
        </div>
        <div class="field">
          <%= f.label :phone %>
          <br>
          <%= f.text_field :phone , :class => "radius" , :placeholder => "Example: +12053901762" %>
        </div>
        <!--<div class="field">-->
        <%#= f.label :password %>
        <!--<br>-->
        <!--<%#= f.text_field :password %>-->
        <!--</div>-->
        <div class="field">
          <%= f.label :email %>
          <br>
          <%= f.text_field :email , :class => "radius"%>
        </div>
        <div class="field">
          <%= f.label :time_zone %>
          <br>
          <%= f.time_zone_select :time_zone %>
        </div>


        <!--<div class="row">-->
        <!--<div class="large-6 large-centered small-9 small-centered  columns">-->
        <hr>
        <h5 class="text-center">Subscriptions</h5>

        <div class="panel">
          <% sub_counter = 0 %>
          <% @user.subscriptions.each do |sub| %>
              <%= f.simple_fields_for :subscriptions, sub do |s| %>
                  <div class="field">
                    <%= s.label "duration" %>
                    <table style="width:100%">
                      <tr>
                        <td><%= s.radio_button :duration, 30 %><%= s.label :duration, '30 days', :style => "display:inline" %></td>
                      </tr>
                      <tr>
                        <td><%= s.radio_button :duration, 60 %><%= s.label :duration, '60 days', :style => "display:inline" %></td>
                      </tr>
                      <tr>
                        <td><%= s.radio_button :duration, 120 %><%= s.label :duration, '120 days', :style => "display:inline" %></td>
                      </tr>
                    </table>
                    <br>
                    <%#= s.collection_radio_buttons :duration, [[30, '30 days'], [60, '60 days'], [120, '120 days']], :first, :last %>
                  </div>
                  <div class="field">
                    <%= s.label "delivery time" %>
                    <br>
                    <%= s.select :delivery_time, ["6 AM", "7 AM", "8 AM", "9 AM", "10 AM", "11 AM", "12 PM", "1 PM", "2 PM", "3 PM", "4 PM", "5 PM", "6 PM", "7 PM", "8 PM", "9 PM"], :selected => sub.delivery_time %>
                  </div>
                  <div class="field">
                    <%= s.association :category,  :include_blank => false, :input_html => {:onchange => "messages_load(this, '#{sub_counter}')"} %>
                  </div>
                  <div class="field">
                    <%= s.select :message_id, options_for_select(Message.where(:category_id => sub.category_id).pluck(:content, :id), :selected => selected_message(sub) ), :input_html => {:id => "messages_select_#{sub_counter}"} %>
                  </div>
              <% end %>
              </div>

              <!--</div>-->
              <!--</div>-->
              <div class="field">
                <%= f.label :gift %>
                    <table style="width:100%">
                      <tr>
                        <td><%= f.radio_button :gift, false %><%= f.label :gift, 'No. This service is for me', :style => "display:inline" %></td>
                     </tr>
                      <tr>
                        <td><%= f.radio_button :gift, true %><%= f.label :gift, 'Yes. This is a gift.', :style => "display:inline" %></td>
                      </tr>
                    </table>
                <%#= f.label :gift  %>
                <%#= f.collection_radio_buttons :gift, [[false, 'No. It is for me'], [true, 'Yes. I am gifting this service']], :first, :last  ,  :style => "display:inline"%>
              </div>
              <hr>

              <div class="field">
                <%= f.label :terms do %>
                    <%= f.check_box :terms  ,:onclick => "enable_buy_btn(this)"%>
                    By signing up , you agree to accept the <%= link_to 'terms and conditions', "#terms" %>.
                <% end %>
                <%#= f.input :terms , as: :boolean , :label => "By signing up , you agree to accept the following terms and conditions" %>
              </div>

              </div>
              <div class="row">
                <div class="large-6 large-centered small-9 small-centered text-center columns">
                  <div class="actions">
                    <%= f.submit :class => "button success radius disabled inactive expand" , :value => "Buy" , :id => "buy_btn" , :disabled => true%>
                  </div>
                </div>
              </div>
              </div>
          <% end %>


<% end %>



<script type="text/javascript">
    function messages_load(category, subscription) {
        //alert(category.id+ " " +category.value) ;
        // alert("hi")
        $.ajax({
            type: "GET",
            url: "<%= get_messages_on_category_messages_path %>",
            data: { 'category_id': category.value, 'subscription_id': subscription},
            success: function (data) {
            }
        });

    }

    function enable_buy_btn(terms)
    {

        if ($('#user_terms').is(":checked"))
        {
            $('#buy_btn').removeClass("disabled");
            $('#buy_btn').removeAttr("disabled");

        }
        else
        {
            $('#buy_btn').addClass("disabled");
            $("#buy_btn").attr("disabled","disabled");
        }

    }
</script>


