<%= simple_form_for(@user) do |f| %>
    <div class="row">

      <div class="large-6 large-centered small-9 small-centered columns">
        <% if notice %>
            <div data-alert class="alert-box rounded success">
              <a href="#" class="close">&times;</a>
              <%= notice %>
            </div>
        <% end %>
        <% if  flash[:error] %>
            <div data-alert class="alert-box rounded alert">
              <a href="#" class="close">&times;</a>
              <%= flash[:error] %>
            </div>
        <% end %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <br>
        <h5 class="text-center">Buy more subscriptions</h5>

        <% sub_counter = 0 %>
        <% @user.subscriptions.each do |sub| %>
            <% next if !sub.new_record?  %>
            <%= f.simple_fields_for :subscriptions, sub do |s| %>
                <% @sub = sub %>
                <% @counter = sub_counter  %>
                <% @buy_more = true  %>
                <%= render 'users/subscription_fields', :f => s  %>
                <% sub_counter = sub_counter + 1 %>
            <% end %>
        <% end %>

            <p><%= link_to_add_fields "Add More Subscription", f, :subscriptions  %></p>
        <hr>
        <h5 class="text-center">Payment</h5>
        <div class="panel">
          <%= f.hidden_field :buy_more_price %>
          <p class="text-center">Price : $ <span id="price_box">2</span> USD</p>
        </div>
        <div class="field">
          <table style="width:100%">
            <tr>
              <td><%= f.radio_button :payment, "paypal" %><%= f.label :payment, 'Paypal', :style => "display:inline" %></td>
            </tr>
            <tr>
              <td><%= f.radio_button :payment, "2checkout" %><%= f.label :payment, '2Checkout', :style => "display:inline" %></td>
            </tr>
          </table>
          <%#= f.label :gift  %>
          <%#= f.collection_radio_buttons :gift, [[false, 'No. It is for me'], [true, 'Yes. I am gifting this service']], :first, :last  ,  :style => "display:inline"%>
        </div>

      </div>
      <div class="row">
        <div class="large-6 large-centered small-9 small-centered text-center columns">
          <div class="actions">
                <%= f.submit :class => "button success radius expand", :value => "Buy", :id => "buy_btn" %>
          </div>
        </div>
      </div>
    </div>



<% end %>

<!--Terms-->
<div id="terms_modal" class="reveal-modal" data-reveal>
  <h4 class="text-center">Terms and conditions</h4>

  <a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">



    function messages_load(category, subscription) {
        //alert(category.id+ " " +category.value) ;
        // alert("hi")
        $.ajax({
            type: "GET",
            url: "<%= get_messages_on_category_messages_path %>",
            data: { 'category_id': category.value, 'subscription_id': subscription},
            success: function (data) {
            }
        });

    }

    function add_fields(link, association, content) {
        if(($('fieldset').length - $('fieldset:hidden').length) + <%=  @user.subscriptions.count %> >= <%= $max_message_subscription %>  )
        {
//           $('#sub_notice').html("<div data-alert class=\"alert-box warning round\">You can subscribe to a maximum of 3 subscriptions.<a href=\"#\" class=\"close\">&times;</a></div>");
            alert('You can subscribe to a maximum of 3 subscriptions only.')
            return;
        }
        var new_id = new Date().getTime();
        var regexp = new RegExp("new_" + association, "g")
        $(link).parent().before(content.replace(regexp, new_id));
        recalculate();
    }

    function remove_fields(link) {
        if(($('fieldset').length - $('fieldset:hidden').length) + <%=  @user.subscriptions.count %> == 1  )
        {
//            $('#sub_notice').html("<div data-alert class=\"alert-box warning round\">You need to have a minimum of 1 subscription.<a href=\"#\" class=\"close\">&times;</a></div>");
            alert('You need to have a minimum of 1 subscription.');
            return;
        }
        $(link).prev("input[type=hidden]").val("1");
        $(link).closest("fieldset").hide();
        recalculate();
    }


    function recalculate() {

        total = 0;

        $(' fieldset input[type=radio]:checked').each(function () {
            if($(this))
                a = $(this).val();
//                alert("checked => " + a);
            if (a) {
                if (a == 30)
                    total += <%= PriceConfig.pricing(30) %>;
                else if (a == 60)
                    total += <%= PriceConfig.pricing(60) %>;
                else if (a == 120)
                    total += <%= PriceConfig.pricing(120) %>;
            }
            return total;
        });

        $(' fieldset:hidden input[type=radio]:checked').each(function () {
            if($(this))
                a = $(this).val();
//                alert("checked => " + a);
            if (a) {
                if (a == 30)
                    total -= <%= PriceConfig.pricing(30) %>;
                else if (a == 60)
                    total -= <%= PriceConfig.pricing(60) %>;
                else if (a == 120)
                    total -= <%= PriceConfig.pricing(120) %>;
            }
            return total;
        });

        //alert(total)
        $('#price_box').html(total);
        $('#user_buy_more_price').val(total);
        //$('input[name="user[subscriptions_attributes][0][duration]"]:checked', '#new_user').val()
    }

</script>


