<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @subscription.order_id %>
</p>

<p>
  <strong>Subscription message:</strong>
  <%= @subscription.subscription_message %>
</p>

<p>
  <strong>Message:</strong>
  <%= @subscription.message_id %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @subscription.frequency %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @subscription.delivery_time %>
</p>

<p>
  <strong>Gift:</strong>
  <%= @subscription.gift %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
